<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSql.Properties.Settings.dbperformance1ConnectionString"
            connectionString="Data Source=tcp:dbperformance.database.windows.net,1433;Initial Catalog=dbperformance1;Persist Security Info=False;User ID=andrea;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>